_build
*.docx
.DS_Store
# Ignore results folder
results/
# Ignore some temporary files
course_contents/~$IntroMetagenomics.pptx
course_contents/~$DataProcessing_taxprofiler.pptx

# Ignore R environment and history
RMarkdowns/.RData
RMarkdowns/.Rhistory
# Ignore assets and commands from generating the tutorials
tutorial/assets
commands_rendering.txt

# Ignore nextflow files
.nextflow*
work/
.Rproj.user
